
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Heming';
    src: url('./public/fonts/heming.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }